<?xml version="1.0" encoding="utf-8"?>
<LanguageData>
	<RV2Reformer-Settings_Reset>リセット</RV2Reformer-Settings_Reset>

	<RV2Reformer-SettingsGeneral>Reformers</RV2Reformer-SettingsGeneral>
	<RV2Reformer-SettingsPatches>Reformers-パッチ</RV2Reformer-SettingsPatches>

	<Settings_BaseReformTickRequirement>基本的な再生時間</Settings_BaseReformTickRequirement>
	<SettingsTooltip_BaseReformTickRequirement>キャラクターを再生するために要する時間を設定します. 60000 が一日とされています.</SettingsTooltip_BaseReformTickRequirement>
	<Settings_MaxReformRecords>再生記録の最大値</Settings_MaxReformRecords>
	<Settings_MaxReformRecords>再生記録は,消化されたポーンに関する情報を保存し,後で再生ができるようにするために使用されます.このオプションは,任意の時間に保存されるこれらの再生記録の最大値を設定します.</Settings_MaxReformRecords>
	<Settings_DoAutoReform>自動再生</Settings_DoAutoReform>
	<SettingsTooltip_DoAutoReform>消化された時点で自動的に再生が行われるようにします.</SettingsTooltip_DoAutoReform>
	<Settings_ReformAbortedNotification>再生中断の通知</Settings_ReformAbortedNotification>
	<SettingsTooltip_ReformAbortedNotification>電力不足などの理由でキャラクターの再生に失敗したときの通知です.</SettingsTooltip_ReformAbortedNotification>
	<Settings_ReformUnexpectedFailedNotification>原因不明な中断の通知</Settings_ReformUnexpectedFailedNotification>
	<SettingsTooltip_ReformUnexpectedFailedNotification>不明な理由でキャラクターの再生に失敗したときの通知です.</SettingsTooltip_ReformUnexpectedFailedNotification>
	<Settings_ReformCompleteNotification>再生完了の通知</Settings_ReformCompleteNotification>
	<SettingsTooltip_ReformCompleteNotification>キャラクターの再生に成功したときの通知です.</SettingsTooltip_ReformCompleteNotification>
	
	<Settings_PatchIdeoMemberDeath>イデオロギーの死亡パッチ</Settings_PatchIdeoMemberDeath>
	<SettingsTooltip_PatchIdeoMemberDeath>自動再生される場合,イデオロギーに起因した通知が表示されないようにします.</SettingsTooltip_PatchIdeoMemberDeath>
	<Settings_PatchPlayerDeathNotification>死亡通知パッチ</Settings_PatchPlayerDeathNotification>
	<SettingsTooltip_PatchPlayerDeathNotification>自動再生される場合,死亡通知が表示されないようにします.</SettingsTooltip_PatchPlayerDeathNotification>
	<Settings_PatchRelationTracker>関係追跡パッチ</Settings_PatchRelationTracker>
	<SettingsTooltip_PatchRelationTracker>自動再生される場合,相関関係に起因した通知が表示されないようにします.</SettingsTooltip_PatchRelationTracker>
	<Settings_PatchThoughtsUtility>心情の上方パッチ</Settings_PatchThoughtsUtility>
	<SettingsTooltip_PatchThoughtsUtility>再生が可能な場合,"私の兄弟を殺した"など 丸呑みされたキャラクターに起因した心情効果を防ぎます.</SettingsTooltip_PatchThoughtsUtility>
	
	<Settings_MaxSelfReformTime>自己再生の最大時間</Settings_MaxSelfReformTime>
	<Settings_MinSelfReformTime>自己再生の最小時間</Settings_MinSelfReformTime>
	<SettingsTooltips_MaxSelfReformTime>キャラクターが自らの力で自動的に再生するときに必要な時間の最大値を設定します.</SettingsTooltips_MaxSelfReformTime>
	<SettingsTooltips_MinSelfReformTime>キャラクターが自らの力で自動的に再生するときに必要な時間の最小値を設定します.</SettingsTooltips_MinSelfReformTime>
	
	<Settings_PatchVanillaExpandedPawnKilled>Vanilla Social Interactions Expanded パッチ</Settings_PatchVanillaExpandedPawnKilled>
	<SettingsTooltip_PatchVanillaExpandedPawnKilled>自動再生される場合,vanilla social interactions expandedによるパッチの起動を防ぎます.</SettingsTooltip_PatchVanillaExpandedPawnKilled>

	<Settings_ImmortalsReformationOption>不死の再生設定</Settings_ImmortalsReformationOption>
	<SettingsTooltip_ImmortalsReformationOption>Sets how immortals should interact with reformation</SettingsTooltip_ImmortalsReformationOption>

	<Settings_ImmortalTransferOption>不死の継承設定</Settings_ImmortalTransferOption>
	<SettingsTooltip_ImmortalTransferOption>Sets immortality transfer/quickening settings. Always transfer will allow pawns to become immortal if they eat a immortal pawn. (the prey loses immortality)</SettingsTooltip_ImmortalTransferOption>
	
	<Settings_QuickScheduleOnDisposal>排泄時の再生予定前倒し</Settings_QuickScheduleOnDisposal>
	<SettingsTooltip_QuickScheduleOnDisposal>Sets if pawns who are scheduled for auto-reform via non-machine methods will be quickly reformed after the pred is disposed instead of waiting the full time</SettingsTooltip_QuickScheduleOnDisposal>

</LanguageData>